<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sl.java00.homework.hmilytcc.mapper.OrderMapper">

    <resultMap id="orderResultMap" type="com.sl.java00.homework.hmilytcc.model.OrderModel">
        <id property="id" column="id"/>
        <result property="orderSn" javaType="String" column="order_sn" jdbcType="VARCHAR"/>
        <result property="userId" javaType="Long" column="user_id" />
        <result property="businessId" javaType="Long" column="business_id"/>
        <result property="productSnapshot" javaType="String" column="product_snapshot" jdbcType="VARCHAR"/>
        <result property="payAmount" javaType="BigDecimal" column="pay_amount" jdbcType="DECIMAL"/>
        <result property="orderStatus" javaType="Integer" column="order_status"/>
        <result property="note" javaType="String" column="note" jdbcType="VARCHAR"/>
        <result property="deleteStatus" javaType="Integer" column="delete_status"/>
        <result property="paymentTime" javaType="Timestamp" column="payment_time" jdbcType="TIMESTAMP"/>
        <result property="modifyTime" javaType="Timestamp" column="modify_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" javaType="Timestamp" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>
    
    <sql id="FIELDS">
        id, order_sn, user_id, business_id, product_snapshot,
        pay_amount, order_status, note, delete_status,
        payment_time, modify_time, create_time
    </sql>

    <insert id="save">
        INSERT INTO t_order (
        <include refid="FIELDS" />
        ) values (
        #{id},
        #{orderSn},
        #{userId},
        #{businessId},
        #{productSnapshot},
        #{payAmount},
        #{orderStatus},
        #{note},
        #{deleteStatus},
        now(),
        now(),
        now()
        )
    </insert>

    <update id="update">
        UPDATE t_order SET
        <if test="orderSn != null">order_sn=#{orderSn},</if>
        <if test="userId!=null">user_id=#{userId},</if>
        <if test="businessId!=null">business_id=#{businessId},</if>
        <if test="productSnapshot!=null">product_snapshot=#{productSnapshot},</if>
        <if test="payAmount!=null">pay_amount=#{payAmount},</if>
        <if test="orderStatus!=null">order_status=#{orderStatus},</if>
        <if test="note!=null">note=#{note},</if>
        <if test="deleteStatus!=null">delete_status=#{deleteStatus},</if>
        modify_time = now()
        WHERE id=#{id}
    </update>

    <delete id="delete">
        DELETE FROM t_order
        WHERE id=#{id}
    </delete>

    <select id="selectById" parameterType="Integer" resultMap="orderResultMap">
        SELECT
        <include refid="FIELDS" />
        FROM t_order
        WHERE id = #{id}
    </select>

    <select id="selectAll" resultMap="orderResultMap">
        SELECT
        <include refid="FIELDS" />
        FROM t_order
    </select>

</mapper>
